// Force every step onto the 2 h 'short' partition (user request).
process {
    queue = 'short'
    time  = 2.h
    withName: '.*' {
        queue = 'short'
        time  = 2.h
    }
    withName: 'PHYLING_ALIGN' {
        queue  = 'short'
        cpus   = 24
        memory = 48.GB
    }
    withName: 'MODELTEST_NG' { cpus = 16; memory = 32.GB }
}
